.primary {
  color: #6d6afe;
}
.red {
  color: #ff5b56;
}
.black {
  color: #111322;
}
.white {
  color: #fff;
}
.gray-4 {
  color: #3e3e43;
}
.gray-3 {
  color: #9fa6b2;
}
.gray-2 {
  color: #ccd5e3;
}
.gray-1 {
  color: #e7effb;
}
.gray-0 {
  color: #f0f6ff;
}
