/* landing */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 9.4rem;
  background-color: var(--gray5);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 192rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.logo-image {
  width: 13.3rem;
  height: 2.4rem;
  margin-left: 20rem;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: linear-gradient(91deg, var(--primary) 0%, #6AE3FE 101%);
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
  width: 12.8rem;
  padding: 1.6rem 2rem;
  text-decoration: none;
  margin-right: 20rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--gray5);
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.slogan {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
  
}

.slogan-text {
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: linear-gradient(91deg, var(--primary) 0%, #6AE3FE 101%);
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
  width: 35rem;
  padding: 1.6rem 2rem;
  text-decoration: none;
  margin-top: 4rem;
}

.header-section-img {
  margin-top: 4rem;
}

main {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15.7rem;
  margin: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.section-container {
  width: 40rem;
  gap: 1rem;
}

.section-title {
  font-size: 4.8rem;
  font-weight: 700;
}

.section-color-title-1 {
  background: linear-gradient(117deg, #fe8a8a 2.29%, #a4ceff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-color-title-2 {
  background: linear-gradient(304deg, #6fbaff 0%, #ffd88b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-color-title-3 {
  background: linear-gradient(133deg, #2945c7 0%, #dbe1f8 100%);;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-color-title-4 {
  background: linear-gradient(310deg, #fe578f 0%, #68e8f9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: #6b6b6b;
  margin-top: 1rem;
}

.section-img {
  width: 55rem;
  height: 45rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: auto;
  width: 100%;
  height: auto;
  background-color: var(--black);
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 192rem;
  margin: 3.5rem 10.5rem 6.5rem 10.5rem;
}

.copyrigter {
  color: #676767;
  text-align: center;
  font-size: 1.6rem;
}

.footer-helper {
  display: flex;
  gap: 3rem;
}

.helper-box {
  color: var(--black);
}

.footer-privacy, 
.footer-FAQ {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.footer-icons {
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}

/* tablet */

@media (max-width: 1200px) {
  .navbar {
    margin: 2rem;
  }

  .logo-image {
    width: 13.3rem;
    height: 2.4rem;
    margin-left: 3.2rem;
  }

  .login-button {
    width: 12.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.6rem 2rem;
    margin-right: 3.2rem;
  }

  header {
    padding-top: 4rem;
    padding-bottom: 0;
  }

  .header-section {
    margin-top: 0;
    margin-bottom: 0;
  }

  .CTA {
    width: 35rem;
    padding: 1.6rem 2rem;
    margin-top: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
    
  }

  .header-section-img {
    margin-top: 4rem;
    width: 70rem;
    height: 34.3rem;
  }

  main {
    padding-top: 8rem;
    padding-bottom: 7rem;
  }

  .section {
    margin-top: 0px;
    margin-bottom: 10rem;
    gap: 5.1rem;
  }

  .section-container {
    width: 100%;
  }

  .description {
    line-height: 150%;
  }

  .section-img {
    width: 38.5rem;
    height: 31.5rem;
  }

  footer {
    margin-top: 0;
  }

  .footer-section {
    align-items: flex-start;
    margin: 3.2rem 10.4rem 6.4rem 10.4rem;
  }

}

/* mobile */

@media (max-width: 768px) {
  .navbar {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    margin-right: auto;
    margin-left: auto;
  }

  .logo-image {
    width: 8.9rem;
    height: 1.6rem;
  }

  .login-button {
    width: 8rem;
    height: auto;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem 1.6rem;
  }

  header {
    padding: 2.8rem 3.2rem 0 3.2rem;
  }

  .header-section {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .slogan {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.2rem;
  }

  .CTA {
    width: 20rem;
    padding: 1rem 1.6rem;
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    
  }

  .header-section-img {
    margin-top: 2.4rem;
    width: 32.5rem;
    height: 16rem;
  }

  main {
    padding: 0;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 39rem;
    margin: 4rem 3.2rem;
    gap: 0;
  }

  .section.reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .section-container {
    width: auto;
    height: auto;
    gap: 0;
  }

  .section-title {
    font-size: 2.4rem;
    width: 100%;
    order: 1;
  }

  .description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
    order: 3;
  }

  .section-img {
    width: 100%;
    height: 100%;
    margin-top: 2.4rem;
  }

  footer {
    margin-top: 4rem;
  }

  .footer-section {
    position: relative;
    margin: 3.2rem 3.2rem 3.2rem 3.2rem;
    gap: 6rem;
    min-height: 6rem;
  }

  .copyrigter {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .footer-helper {
    position: absolute;
    top: 0;
    left: 0;
  }

  .footer-icons {
    position: absolute;;
    top: 0;
    right: 0;
  }

}
