@import "global.css";

header {
  padding: 20px 150px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f6ff;
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 133px;
  height: 24px;
  display: inline-block;
}
.button {
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}
.button-log {
  font-size: 18px;
  font-weight: 600;
}

.big-sec {
  padding: 70px 360px 0;
  background-color: #f0f6ff;
}
.l-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.big-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  display: block;
  line-height: 80px;
}
.rainbow {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
}

.small-sec {
  padding: 120px 250px 50px;
  justify-content: center;
  align-items: center;
}
.s-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.word-box {
  display: flex;
  width: 291px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.small-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}
.paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.title1-color {
  background-image: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title2-color {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
}
.title3-color {
  background-image: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title4-color {
  background-image: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer {
  padding: 120px 0 0;
}
.footer-box {
  padding: 32px 104px 64px;
  background-color: #111322;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
a:visited {
  color: white;
}
.social {
  display: flex;
  gap: 12px;
}
.help {
  display: flex;
  gap: 30px;
}

@media (min-width: 1920px) {
}
