* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #F0F6FF;
  position: sticky;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: none;
  align-self: stretch;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  gap: 8px;
  height: 93px;
  flex-grow: 0;
  padding-left: 8%;
  padding-right: 8%;
  z-index: 1;
}

header .logo {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #6D6AFE;
  width: 133px;
  height: 24px;
  cursor: pointer;
}

header .login_btn {
  position: absolute;
  right: 8%;
  width: 128px;
  height: 53px;
  padding: 16px 20px 16px 20px;
  border-radius: 8px;
  border: 0;
  outline: transparent;
  cursor: pointer;
  gap: 10px;
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(245, 245, 245, 1);
  background: linear-gradient(90.99deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}

.section_1 {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #F0F6FF;
  width: 100%;
  height: 953px;
  align-items: center;
  text-align: center;
  padding: 16px 20px 16px 20px;
  justify-content: space-between;
}

.section_1 h2 {
  font-family: 'Pretendard';
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0px;
  text-align: center;
  align-items: center;
  color: linear-gradient(0deg, #000000, #000000);
  position: relative;
  top: 50px;
}

.section_1 h2 span {
  background: linear-gradient(to right, #6D6AFE , #FF9F9F);
  color: transparent;
  -webkit-background-clip: text;
}

.link_plus_btn {
  background: linear-gradient(to right, #6D6AFE, #6AE3FE);
  color: #F5F5F5;
  display: inline-block;
  font-family: 'Pretendard';
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  width: 350px;
  height: 53px;
  top: 270px;
  left: 785px;
  margin: 100px;
  border-radius: 8px;
  border: 0;
  letter-spacing: 0em;
  cursor: pointer;
}

.main_img {
  position: relative;
  max-width: 1200px;
  width: 1200px;
  height: 590px;
  bottom: 66px;
}

h3 {
  color: linear-gradient(0deg, #000000, #6B6B6B);
  font-family: 'Pretendard';
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: -0.3px;
}

.colorname_1 {
  background: linear-gradient(to right, #FE8A8A, #A4CEFF);
  color: transparent;
  -webkit-background-clip: text;
}

.colorname_2 {
  background: linear-gradient(to right, #6FBAFF, #FFD88B);
  color: transparent;
  -webkit-background-clip: text;
}

.colorname_3 {
  background: linear-gradient(to right, #6D7CCD 100%, #528885 22%);
  color: transparent;
  -webkit-background-clip: text;
}

.colorname_4 {
  background: linear-gradient(to right, #FE578F, #68E8F9);
  color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-family: 'Abel';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(107, 107, 107, 1);
}

.section_2 {
  position: relative;
  width: 100%;
  height: 620px;
  display: flex;
  justify-content: center;
}

.section_2_text {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: space-between;
  height: 198px;
}

.middle {
  max-width: 998px;
  width: 100%;
  height: 450px;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_2_img {
  max-width: 550px;
  width: 550px;
  height: 450px;
}

.section_common {
  position: relative;
  margin: 0;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
}

.section_common_text {
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  height: 172px;
}

.section_3_img {
  max-width: 550px;
  width: 550px;
  height: 450px;
}

.section_4_img {
  max-width: 550px;
  width: 550px;
  height: 450px;
}

.section_5_img {
  max-width: 550px;
  width: 550px;
  height: 450px;
}

footer {
  background: #111322;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 160px;
  padding: 32px 104px 64px 104px;
}

.footer{
  position: absolute;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  justify-content: space-between;
  place-items: center;
  top: 30%;
  transform: translate(0, -50%);
  width: 80%;
  height: 20px;
}

.footer a {
  text-decoration: none;
  color: #CFCFCF;
}

.priy_faq {
  display: flex;
  align-items: center;
  font-family: 'Acme';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #CFCFCF;
  gap: 30px;
}

.footer_info {
  font-family: 'Acme';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #676767;
  justify-self: start;
}

.footer_link {
  display: grid;
  justify-self: end;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
}