@import "reset.css";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 38px;
}

h2 {
  color: black;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 400;
  line-height: 24px;
}

h2 a {
  color: #6D6AFE;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 600;
}

h3 {
  color: black;
  font-size: 14px;
  font-family: Pretendard;
  font-weight: 400;
  margin-bottom: 12px;
}

label {
  color: black;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}

input {
  width: 400px;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px #CCD5E3 solid;
  color: #373740;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
}

input:focus {
  border: 1px #6D6AFE solid;
}

.hide {
  display: none;
}

.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 6px;
}

.error-border {
  border-color: red;
}

.button-sign {
  width: 100%;
  padding: 16px 20px;
  background: linear-gradient(91deg, #6D6AFE 0%, #6AE3FE 100%);
  border-radius: 8px; 
  color: #F5F5F5;
  font-size: 18px;
  font-family: Pretendard;
  font-weight: 600;
}

.social-login {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #E7EFFB;
  border-radius: 8px;
  border: 1px #CCD5E3 solid;
}

.social-icon {
  display: flex;
  gap: 16px
}

.social-login p {
  color: #373740;
  font-size: 14px;
  font-family: Pretendard;
  font-weight: 400;
}

.social-login .kakao-icon {
  width: 42px;
  height: 42px;
  background-color: #FEE500;
  border-radius: 37.33px;
  position: relative;
}

.social-login .google-icon {
  width: 42px;
  height: 42px;
  background-color: #FFFFFF;
  border-radius: 37.33px;
  position: relative;
  border: 1px #D3D4DD solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.kakao-icon img {
  position: absolute;
  top: 10px;
  bottom: 8px;
  left: 8px;
  right: 8px;
}

.google-icon img {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.pwd-eye-off {
  position: absolute;
  top: 50px;
  right: 15px;
  padding: 0;
  height: 16px;
}

.pwd-input-wrapper {
  margin-top: 24px;
  position: relative;
}

.pwd-input-check {
  margin-top: 24px;
}

.pwd-input-check p {
  color: #FF5B56;
  font-size: 14px;
  font-family: Pretendard;
  font-weight: 400;
  margin-top: 6px;
}

.pwd-input-check input {
  border-color: red;
}

@media (max-width: 767px) {
  body {
    width: initial;
    margin: 0 auto;
  }

  .contents {
    padding: 120px 32px 233px 32px;
    width: 100%;
  }

  input {
    width: 100%;
    max-width: 400px;
  }

  .button-sign {
    width: 100%;
    max-width: 400px;    
  }
  
  .social-login {
    width: 100%;
    max-width: 400px;
  }

  .input-form {
    width: 100%;
  }

  ol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ol li {
    width: 100%;
    max-width: 400px;
  }
}
