nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  background-color: var(--bg-color);
  z-index: 10;
}

.logo {
  background-image: url(../../assets/logo.svg);
  flex: 0 0 133px;
  height: 24px;
  background-size: cover;
  border: none;
  cursor: pointer;
}

/* Tablet */
@media screen and (max-width: 1124px) {
  nav {
    justify-content: center;
    gap: 450px;
    padding: 20px 32px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  nav {
    justify-content: space-between;
    gap: 0;
  }
  .logo {
    flex-basis: 88px;
    height: 16px;
  }
}
