@import "/styles/globals.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  @include font(1rem, $color-gray100, 500);

  @include mobile {
    @include font(0.8rem, $color-gray100, 500);
  }
}

.image {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 9999rem;

  @include mobile {
    width: 2rem;
    height: 2rem;
  }
}
