@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --pirmary-6d6afe: #6d6afe;
  --red-ff5b56: #ff5b56;
  --black-111322: #111322;
  --white-FFF: #fff;
  --gray-3E3E43: #3e3e43;
  --gray-9FA6B2: #9fa6b2;
  --gray-CCD5E3: #ccd5e3;
  --gray-F0F6FF: #f0f6ff;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Pretendard, sans-serif;
  background-color: var(--gray-F0F6FF);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.title_a {
  color: var(--pirmary-6d6afe);
  margin-left: 8px;
  font-weight: 600;
}

.form_section {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 30px;
}

.form_section_div {
  display: flex;
  flex-direction: column;
}

.div_margin {
  margin-top: 24px;
}

.label {
  font-size: 14px;
}

.input {
  margin-top: 12px;
  padding: 18px 15px;
  border: 1px solid var(--gray-CCD5E3);
  border-radius: 8px;
  background-color: var(--white-FFF);
  font-size: 16px;
  position: relative;
}

.input:focus {
  outline: 1px solid var(--pirmary-6d6afe);
}

.button {
  width: 400px;
  padding: 16px 20px;
  border-style: none;
  border-radius: 8px;
  margin-top: 30px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.div {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid var(--gray-CCD5E3);
  border-radius: 8px;
  background-color: #e7effb;
  margin-top: 32px;
}

.div_span {
  color: #373740;
  font-size: 14px;
  text-decoration: none;
}

.div_link {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 43px;
  right: 15px;
}

.img-link img {
  display: block;
}

@media (max-width: 767px) {
  .form_section {
    width: 325px;
  }

  .button {
    width: 325px;
  }

  .div {
    width: 325px;
  }
}
