@import "../styles/color.css";
@import "../styles/comon.css";
@import "../styles/ui.css";

/** {
  box-sizing: border-box;
}*/

/*@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  weight: 700;
  font-style: normal;
}*/

html {
  font-family: 'Pretendard-Regular', sans-serif;
  word-break: keep-all;
}

body {
  padding-top: 238px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 218px;
  height: 78px;
}

.logo-link {
  display: flex;
  justify-content: center;
}

.header-logo {
  width: 210.58px;
  height: 38px;
}

.header-message {
  display: flex;
  align-items: center;
  width: 218px;
  height: 24px;
  column-gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.header-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  color: var(--primary);
}

.sign-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  gap: 32px;
}

.sign-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.sign-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sign-form-inputs-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sign-input-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

input {
  width: 400px;
  height: 60px;
  padding: 18px, 15px;
  border-radius: 8px;
  border: 1px solid var(--primary);
  outline: none;
}

.sign-password {
  position: relative;
}

.eye-button {
  position: absolute;
  top: 45px;
  right: 30px;
  width: 30px;
  height: 30px;
  background-color: var(--background);
}

.login-button {
  height: 53px;
  padding: 16px 20px;
  gap: 10px;
  background-image: linear-gradient(90.99deg, var(--primary) 0.12%, #6AE3FE 101.84%);
  color: #F5F5F5;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.48px;
}

.social-login_group {
  display: flex;
  width: 400px;
  height: 66px;
  padding: 12px 24px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray10);
  border: 1px solid var(--gray20);
}

.social-login-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  color: #373740;
}

.social-login-buttons {
  width: 100px;
  height: 42px;
  gap: 16px;
}

.social-login-button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.error-message-email,
.error-message-password {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #FF5B56;
  line-height: 16.71px;
}

/*태블릿 사이즈*/

@media (max-width: 1199px) {
  body {
    padding-top: 200px;
  }
}

@media (max-width: 769px) {
  body {
    padding-top: 120px;
  }
}