@use "../abstracts" as a;
body {
  width: 100%;
  height: 100%;

  @include a.flex(column, flex-start, center);
}

.red-suit {
  color: red;
}

button {
  padding: 5px;
  font-size: 20px;
  @media (max-width: 767px) {
    padding: 2px;
    font-size: 15px;
  }
}

.card {
  width: 80px;
  height: 100px;
  border: 2px solid #33f;
  @include a.flex(column, center, center);
}
.card-list {
  @include a.flex(row, center, center);
}

main {
  max-width: 800px;
  @include a.flex(column, flex-start, center);
  width: 100%;
  .game-board {
    width: 80%;
    aspect-ratio: 4/3;
    border-radius: 30px;
    border: 3px solid #aaf;
    @include a.flex(column, center, center);
    gap: 5%;
    .board {
      width: 90%;
      height: 40%;
      border-radius: 30px;
      border: 3px solid #aaf;
    }

    .dealer {
      @include a.flex(column, center, center);
    }
    .player {
      @include a.flex(column, center, center);
    }
  }
  .player-status {
    padding: 5%;
    width: 70%;
    @include a.flex(row, space-between);
    gap: 10%;
  }
  .bet-controller {
  }
  .controller {
    width: 80%;
    aspect-ratio: 4/1;
    border-radius: 30px;
    border: 3px solid #aaf;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hidden {
    display: none;
  }
}
