.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

.input {
  width: 100%;
  border: 0.1rem solid #ccd5e3; /* 값이 주어진 $color-gray20에 대한 색상 코드 */
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: #373740; /* 값이 주어진 $color-gray100에 대한 색상 코드 */
  padding: 1.8rem 1.5rem;
  transition: border-color 0.2s ease-in-out;
}

.input::placeholder {
  color: #9fa6b2; /* 값이 주어진 $color-gray60에 대한 색상 코드 */
}

.input:focus {
  border-color: #6d6afe; /* 값이 주어진 $color-primary에 대한 색상 코드 */
}

.input.error {
  border-color: #ff5b56; /* 값이 주어진 $color-red에 대한 색상 코드 */
}

.helper-text {
  font-size: 1.4rem;
}

.helper-text.error {
  color: #ff5b56; /* 값이 주어진 $color-red에 대한 색상 코드 */
}
