.input_container {
    width: 100%;
    height: 83px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
}

.input {
    width: 100%;
    height: 60px;
    padding: 18px 15px;
    border-radius: 8px;
    border: 1px solid var(--gray2);
    background: var(--white);
    outline: none;
    box-sizing: border-box;
    font-size: 15px;
    color: #373740;
}

.input:focus {
    border: 1px solid var(--primary);
}

.invalid {
    border: 1px solid var(--red);
}

.error_msg {
    color: var(--red);
    font-size: 14px;
}

.eye_button {
    position: absolute;
    top: 25%;
    right: 15px;
    width: 16px;
    height: 16px;
    background: url("/assets/eye-off.svg") no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.eye_button.on {
    background: url("/assets/eye-on.svg") no-repeat center center;
    background-size: cover;
}
