@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --pirmary-6d6afe: #6d6afe;
  --red-ff5b56: #ff5b56;
  --black-111322: #111322;
  --white-FFF: #fff;
  --gray-3E3E43: #3e3e43;
  --gray-9FA6B2: #9fa6b2;
  --gray-CCD5E3: #ccd5e3;
  --gray-F0F6FF: #f0f6ff;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Pretendard;
  background-color: var(--gray-F0F6FF);
}
