* {
  font-family: Pretendard,"Abel", "Acme",sans-serif;
  word-break: keep-all;
}


body {
  color: var(--black);
  margin: 0;
}

header {
  background-color: var(--grey-1);
}

main {
  background-color: var(--white);
  position: relative;
  z-index: 1;
}

footer {
  background-color: var(--black);  
}

.nav,
.head,
.contents,
.info {
  margin: 0 auto;
} 

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  cursor: pointer;
  background-image: url('./images/logo.svg');
  background-position: center;
  background-size: cover;
}


.nav-button,
.head-button {
  /* width: 128px; */
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6AE3FE 101.84%) ;
   
  color: var(--off-white);
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
  text-decoration: none;

  text-align: center;
  align-items: center;

  cursor: pointer;
}

.head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.head-text {
  text-align: center;
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 131.25% */
  margin: 0;
}

.head-text-gradiant {
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.head-image {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contents-image {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center;
}

.contents-text-title {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -3px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.contents-text-gradient {
  background-clip: text;
}

.contents-text-gradient.first {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-text-gradient.second {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-text-gradient.third {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-text-gradient.fourth {
  background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.contents-text-small {
  color: var(--grey-5);
  font-family: Abel;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  margin: 0;
}

.info-author {
  color: var(--grey-5);
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info-description {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.info-description a{
  color: var(--white);
  text-decoration: none;
}

.info-sns {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}


@media (min-width: 1200px) {
  main {
    margin-top: -120px;
  }

  .nav {
    max-width: 1920px;
    padding: 20px 168px;
  }

  .nav-logo {
    width: 133px;
    height: 24px;
  }

  .head {
    max-width: 1200px;
    padding-top: 100px;
  }

  .nav-button,
  .head-button {
    font-size: 18px;
    padding: 16px 20px;
  }

  .head-button {
    width: 350px;
  }

  .nav-button {
    width: 128px;
  }

  .head-image {
    width: 1118px;
    padding-top: 659px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #f0f6ff 94.76%),
    url('./images/img-main.svg');
    background-repeat: no-repeat;
    background-size: 105%;
    background-position-x: 50%;
    background-position-y: -15px;
    margin: 50px 40px 0;
  }

  .contents {
    max-width: 1000px;
    align-items: center;
    padding: 120px 0 50px;
    gap: 20px;
  }

  .contents-image {
    width: 550px;
    height: 450px;
   }

  .contents-text-title {
    font-size: 48px;
  }

  .contents-text-small {
    font-size: 16px;
    white-space: nowrap;
  }

  footer {
    margin-top: 120px;
    padding: 32px 104px 64px;
  }

  .info {
    display: flex;
    height: 64px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .info-box {
    display: contents; /* !!! 부모 영역을 없애주는 속성값*/
  }

  .break-mobile {
    display: none;
  }
  
  .break-not-mobile {
    display: inline;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  main {
    margin-top: -80px;
  }

  .nav {
    max-width: 864px;
    padding: 20px;
  }
  
  .nav-logo {
    width: 133px;
    height: 24px;
  }

  .head {
    max-width: 700px;
    padding-top: 140px;
    gap: 40px;
  }

  .nav-button,
  .head-button {
    font-size: 18px;
    padding: 16px 20px;
  }
  
  .head-button {
    width: 350px;
  }

  .nav-button {
    width: 128px;
  }
  
  .head-image {
    width: 650px;
    height: 383px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 125.4%),
    url('./images/img-main.svg');
    background-repeat: no-repeat;
    background-size: 105%;
    background-position-x: 50%;
    background-position-y: -15px;
    margin: 30px 24px 0;
  }

  .contents {
    max-width: 700px;
    align-items: center;
    padding: 80px 0 50px;
    gap: 51px;
  }

  .contents-image {
    width: 385px;
    height: 315px;
  }
   
  .contents-text-title {
    font-size: 48px;
  }

  .contents-text-small {
    font-size: 16px;
    white-space: nowrap;
  }

  footer {
    margin-top: 120px;
    padding: 32px 104px 64px;
  }

  .info {
    display: flex;
    height: 64px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .info-box {
    display: contents; /* !!! 부모 영역을 없애주는 속성값*/
  }

  .break-mobile {
    display: inline;
  }
  
  .break-not-mobile {
    display: inline;
  }
}

@media (max-width: 767px) {
  main {
    margin-top: -40px;
  }

  .nav {
    max-width: 100%;
    padding: 13px 32px;
  }

  .nav-logo {
    width: 88.667px;
    height: 16px;
  }

  .nav-button,
  .head-button {
    font-size: 14px;
    padding: 16px 10px;
  }

  .head-button {
    width: 200px;
  }

  .nav-button {
    width: 80px;
  }

  .head {
    padding: 91px 32px 0;
  }

  .head-text {
    font-size: 32px;
    line-height: 42px;
  }

  .head-image {
    width: 100%;
    aspect-ratio: 1 / 0.55;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #f0f6ff 125.4%),
    url('./images/img-main.svg');
    background-repeat: no-repeat;
    background-size: 105%;
    background-position-x: 50%;
    background-position-y: -20%;
    margin: 14px 11px 0;
  }

  .contents {
    flex-direction: column; 
    gap: 24px;
    padding: 40px 32px 36px;
  }

  .contents-textbox {
    display: contents;
  }

  .contents-text-title {
    font-size: 24px;
    order: 1;
    margin: 0;
  }

  .contents-text-small {
    font-size: 15px;
    order: 3;
  }

  .contents-image {
    width: 100%;
    padding-top: 81.8%;
    order: 2;
  }


  footer {
    margin-top: 120px;
    padding: 32px;
  }

  .info {
    display: flex;
    /* height: 96px; */
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .info-box {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 60px;
  }
  
  .break-mobile {
    display: inline;
  }
  
  .break-not-mobile {
    display: none;
  }
}

