/* body */
body {
  position: relative;
}
/* 로그인 버튼(변형) */
.login {
  width: 128px;
  height: 53px;
  text-decoration: none;
  text-align: center;
  margin-right: 200px;
}

/* 링크추가 버튼(변형) */
.addLink {
  width: 350px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* header */
.header {
  background-color: var(--color-gray-100);
  position: fixed;
  top: 0;
  width: 100%;
  height: 93px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.header--title {
  margin-left: 200px;
}

.header--h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-bold);
  font-size: 64px;
  line-height: 80px;
  font-family: 'pretendard';
  color: var(--color-black);
}

/* main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contents-01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-100);
  text-align: center;
  margin-top: 93px;
}

/* 랜딩페이지 강조문구 그라데이션  */
/* 기본형 */
.highlight--purplePink {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #6d6afe, #ff9f9f);
}
/* 변형 */
.purplePink {
  background-image: linear-gradient(90deg, #6d6afe, #ff9f9f);
}
.highlight--redSkyblue {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #fe8a8a, #a4ceff);
}
.highlight--skyblueYellow {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #6fbaff, #ffd88b);
}
.highlight--pupleBlack {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #6d7ccd, #52888538);
}
.highlight--pinkSkyblue {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #fe578f, #68e8f9);
}

/* 첫 이미지 */
.contents-01--img {
  width: 1200px;
  height: 590px;
}

.content--title {
  font-weight: var(--font-bold);
  font-size: 48px;
  line-height: 57.6px;
  font-family: 'pretendard';
  color: var(--color-black);
  margin-bottom: 10px;
}

.content--desc {
  font-weight: var(--font-normal);
  font-size: 16px;
  line-height: 24px;
  font-family: 'pretendard';
  color: #6b6b6b;
}

/* 상세 이미지 */
.content--img {
  width: 550px;
  height: 450px;
  border-radius: 15px;
}

/* 상세 글(기본형)  */
.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 135px;
  margin: 100px;
}
/* 우측 글 */
.left {
  order: 0;
}
/* 우측 글 */
.right {
  order: 1;
}

/* footer */
footer {
  width: 100%;
  height: 160px;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'pretendard';
  font-weight: var(--font-normal);
}

.footer--container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.codeit {
  margin-left: 104px;
}
.footer--privacy {
  display: flex;
  gap: 30px;
}
.privacy,
.faq {
  text-decoration: none;
  color: var(--color-white);
}
.sites {
  margin-right: 104px;
}
