.cardListSearch {
  width: 1060px;
  padding: 40px 0 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 1124px) {
  .cardListSearch {
    width: 704px;
  }
}

@media (max-width: 767px) {
  .cardListSearch {
    width: 325px;
    gap: 32px;
  }
}
