@import "../../styles/global.scss";

.container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #373740;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 9999px;
}
