header .header-profile {
    display: flex;
    align-items: center;
    gap: 6px;
}

header .header-profile .header-img {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    overflow: hidden;
}

header .header-profile .header-img img {
    width: 100%;
}

header .header-profile .header-email {
    font-size: 0.875rem;
    line-height: 1.19357142857;
}
