* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

address {
  font-style: normal;
}

#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 160px;
}
