* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}
