.foldermenulist_wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.foldermenu_toolbar_button {
  height: auto;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #6d6afe;
  background-color: "#ffffff";
  color: "#000000";
  font-size: 16px;
  font-weight: 400;
  max-width: 150px;
  white-space: nowrap;
}

.active {
  background-color: #6d6afe;
  color: #ffffff;
}
