@import '../global.css';

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  width: 36rem;
  height: 19.3rem;
  background-color: var(--white);
  position: relative;
  z-index: 5;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem 4rem;
}

.exit_button {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  z-index: 5;
}

.modal__content__header {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
}

.modal__content__body {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--gray60);
  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
}

.delete-action-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  cursor: pointer;
  padding: 1.6rem 11.2rem;
  background-color: var(--red);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 600;
}
