/* palette에 있는 color값들을 css 변수로 등록하고 사용해 주세요. */
:root {
    --Linkbrary-primary-color: #6D6AFE;
    --Linkbrary-red: #FF5B56;
    --The-julge-black: #111322;
    --Linkbrary-white: #FFF;
    --Linkbrary-gray100: #373740;
    --Linkbrary-gray60: #9FA6B2;
    --Linkbrary-gray20: #CCD5E3;
    --Linkbrary-gray10: #E7EFFB;
    --Grey-Light: #F5F5F5;
    --Linkbrary-bg: #F0F6FF;
    --z-top: 1000;
    --z-above: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 62.5% of 16px browser font size is 10px */
    /* 16px * 0.625 = 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Pretendard';
    /* 1.6 * 10px = 16px */
    font-size: 1.6rem;
}

.cursor-point {
    cursor: pointer;
}

object{
    pointer-events: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}
