.err-font {
  color: var(--red);
  font-size: 1.4rem;
  font-weight: 400;
}

.hide {
  display: none;
}

.input-err {
  border-radius: 8px;
  border: 1px solid var(--red);
  background: var(--white);
}
