@import '/assets/css/commons/globals.css';

.auth {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 238px;
  background-color: var(--background-color);
}

.auth__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.auth__logo {
  width: 211px;
}

.auth__text-wp {
  display: flex;
  align-items: end;
  gap: 8px;
  margin-top: 16px;
}

.auth__text {
  font-size: 1rem;
  line-height: 16px;
}

.auth__link {
  border-bottom: 1px solid var(--primary-color);
  font-weight: 600;
  font-size: 1rem;
  line-height: 19px;
  color: var(--primary-color);
}

.auth-form {
  width: 100%;
  margin-top: 30px;
}

.auth-form__input-wp {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.auth-form__input-wp:nth-child(1) {
  margin-top: 0;
}

.auth-form__label {
  margin-bottom: 12px;
  font-size: 0.875rem;
}

.auth-form__pw-wp {
  position: relative;
}

.auth-form__eye-button {
  position: absolute;
  top: 22px;
  right: 22px;
}

.auth-form__eye.eye--off {
  position: relative;
  top: 1px;
}

.auth-form__input {
  width: 100%;
  padding: 18px 15px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #373740;
}

.auth-form__input:focus {
  border: 1px solid var(--primary-color);
}

.auth-form__input.input-border--red {
  border: 1px solid var(--error-color);
}

.auth-form__notice {
  margin-top: 6px;
  color: var(--error-color);
}

.auth-form__btn {
  width: 100%;
  margin-top: 30px;
}

.auth-sns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  padding: 12px 24px;
  background-color: #e7effb;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.auth-sns__title {
  font-family: Pretendard;
  font-size: 0.875rem;
  font-weight: 400;
  color: #373740;
}

.auth-sns__ul {
  display: flex;
  gap: 16px;
}


@media (max-width: 767px) {
  .auth {
    padding: 120px 32px 0;
  }
  .auth__inner {
    width: 100%;
    max-width: 400px;
  }

}