$primary-color: #6d6afe;
$skyblue-color: #6ae3fe;
$red-color: #ff5b56;
$black-color: #111322;
$white-color: #fff;
$d5-gray-color: #3e3e43;
$d4-gray-color: #9fa6b2;
$d3-gray-color: #ccd5e3;
$d2-gray-color: #e7effb;
$d1-gray-color: #f0f6ff;
$grey-light-color: #f5f5f5;
$grey-dark-color: #666;
