.card-button {
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
    padding: 0;
    border: 0;
    background-color: transparent;
    border-radius: 15px;
}

.card-button:hover {
    cursor: pointer;
}

.card-button:hover .card-img {
    transition: all 0.2s linear;
    transform: scale(1.3);
}

.card-info-area {
    display: flex;
    padding: 15px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 0px 0px 15px 15px;
    background: #fff;
}

.card-img-area {
    width: 100%;
    height: 200px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
    background: #d9d9d9;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card-time {
    color: #666;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-info {
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    height: 49px;
}

.card-date {
    overflow: hidden;
    color: #333;
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 19px;
}
