$color-primary: #6d6afe;
$color-red: #ff5b56;
$color-black: #111322;
$color-white: #ffffff;

$color-grey100: #3e3e43;
$color-grey60: #9fa6b2;
$color-grey20: #ccd5e3;
$color-grey10: #e7effb;

$color-background: #f0f6ff;
