/* palette에 있는 color값들을 css 변수로 등록하고 사용해 주세요. */
:root {
  --Linkbrary-primary-color: #6d6afe;
  --Linkbrary-red: #ff5b56;
  --The-julge-black: #111322;
  --Linkbrary-white: #fff;
  --Linkbrary-gray100: #373740;
  --Linkbrary-gray60: #9fa6b2;
  --Linkbrary-gray20: #ccd5e3;
  --Linkbrary-gray10: #e7effb;
  --Grey-Light: #f5f5f5;
  --Linkbrary-bg: #f0f6ff;
}
