header {
    display: flex;
    padding: 20px 200px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--gray-color-lightest, #f0f6ff);
    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.header-profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .header-container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        padding: 33px 32.5px 32px 32.5px;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
}
