@import url('./reset.css');
@import url('./color.css');

.main-content {
    display: flex;
    width: 100%;
    padding: 70px 360px 0px 360px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    background-color: var(--gray-color-lightest, #f0f6ff);
}

.explain {
    text-align: center;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}

.explain .highlight {
    background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.add-link {
    display: flex;
    width: 350px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));
    color: var(--Grey-Light, #f5f5f5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: none;
}

.main-img {
    width: 1200px;
    height: 590px;
    padding: 50px 41px;
    overflow: hidden;
}

.main-content-img {
    width: 1118px;
    height: 659px;
    flex-shrink: 0;
    border-radius: 25px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 67.68%, #f0f6ff 94.76%);
}

.interval {
    padding-top: 120px !important;
}

.content {
    display: flex;
    padding: 50px 461px;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    align-items: center;
    gap: 157px;
}

.content-img {
    width: 550px;
    height: 450px;
    border-radius: 15px;
}

.content-title {
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    white-space: nowrap;
}

.content-paragraph {
    color: #6b6b6b;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.highlight-link {
    background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.highlight-manage {
    background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.highlight-share {
    background: linear-gradient(99deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.highlight-search {
    background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (max-width: 1200px) {
    .main-content {
        padding-left: 251px;
        padding-right: 250px;
    }

    .explain {
        padding-left: 113px;
        padding-right: 113px;
    }

    .main-img {
        width: 698px;
        height: 343px;
        padding: 29px 24px;
        overflow: hidden;
    }

    .main-content-img {
        width: 698px;
        height: 343px;
        padding: 29px 24px;
        overflow: hidden;
    }

    .main-content-img {
        width: 650px;
        height: 383px;
        flex-shrink: 0;
        border-radius: 25px;
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
        background: linear-gradient(180deg, rgba(196, 196, 196, 0) 67.68%, #f0f6ff 94.76%);
    }

    .content {
        padding-left: 0;
        padding-right: 0;
    }

    .content-container {
        gap: 51px;
    }

    .content-img {
        width: 385px;
        height: 315px;
    }

    .textbox {
        width: 262px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding-left: 32px;
        padding-right: 32px;
    }

    .main-content {
        padding-top: 28px;
    }

    .explain {
        padding-left: 44.5px;
        padding-right: 44.5px;
    }

    .main-content-img {
        width: 100%;
    }

    .main-content-img img {
        width: 100%;
    }

    .content {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .content-container {
        gap: 20px;
        flex-direction: column;
        width: 100%;
    }

    .textbox {
        width: 100%;
    }

    .textbox:nth-child(n) {
        display: contents;
    }

    .textbox:nth-child(2n) {
        display: contents;
    }

    .content-img {
        width: 100%;
        height: 100%;
        order: 2;
    }

    .content-paragraph {
        order: 3;
    }
}
