@import url('./reset.css');
@import url('./color.css');

.body {
    height: 100vh;
    background: var(--gray-color-lightest, #f0f6ff);
    display: flex;
    padding: 238px 520px 253px;
    justify-content: center;
    align-items: center;
}

.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.firstArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.firstArea img {
    width: 210.583px;
    height: 38px;
}

.signupText {
    color: var(--black, #000);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    gap: 5px;
}

.signinBtn {
    color: var(--primary-color, #6d6afe);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.secondArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.active {
    border-color: red !important;
}

.emailNotice,
.passwordNotice,
.verifyNotice {
    color: red !important;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.label p {
    color: #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.secondArea input {
    display: flex;
    width: 400px;
    padding: 18px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid gray;
    background: #fff;
    position: relative;
}

.eyes {
    width: 16px;
    height: 16px;
    fill: #fff;
    position: absolute;
    margin-top: 47px;
    margin-left: 365px;
}

.signupBtn {
    display: flex;
    width: 400px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
    color: var(--Grey-Light, #f5f5f5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    margin-top: 10px;
}

.signupBtn:hover {
    cursor: pointer;
}

.snsSignup {
    display: flex;
    width: 400px;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #ccd5e3;
    background: var(--gray-color-lighter, #e7effb);
}

.snsSignup p {
    color: #373740;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signupIcon {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.googleSignup {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

.kakaooSignup {
    width: 26px;
    height: 24px;
    flex-shrink: 0;
}
