.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 20px;
  margin: 40px 0 0;
}

.emptyLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11rem 0;
}

@media (max-width: 1124px) {
  /* 타블렛 */

  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  /* 모바일 */
  .cardList {
    grid-template-columns: 1fr;
  }
}
