@import "@/common/styles/global.scss";

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 0.8rem;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3.2rem;
}

.button {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
