.folder-tool-bar-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 1060px;

  .folder-tool-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .folder-name-buttons {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      gap: 8px;
    }
  }

  .folder-name-display {
    font-size: 24px;
    letter-spacing: -0.2px;
    font-weight: 600;
  }

  .folder-name-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .util-buttons {
      display: flex;
      gap: 12px;
    }
  }

  @media (max-width: 1124px) {
    width: 706px;
  }

  @media (max-width: 767px) {
    width: 325px;

    .folder-name-bar {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }
  }
}

.folder-name-button {
  background-color: #fff;
  border: 1px solid #6d6afe;
  padding: 8px 12px;
  border-radius: 5px;
  height: 36px;

  &:hover {
    background-color: #e7effb;
  }
}

.focused-button {
  background-color: #6d6afe;
  color: #fff;
  &:hover {
    background-color: #6d6afe;
  }
}

.util-button {
  display: flex;
  gap: 4px;
  color: #9fa6b2;
  font-size: 14px;
  font-weight: 600;
}

.folder-add-button {
  display: flex;
  font-weight: 500;
  gap: 4px;
  color: #6d6afe;

  .add-icon-white {
    display: none;
  }

  @media (max-width: 767px) {
    position: fixed;
    bottom: 101px;
    padding: 8px 24px;
    left: calc((100vw - 128px) / 2);
    border-radius: 20px;
    background-color: #6d6afe;
    color: #fff;
    z-index: 1;

    .add-icon {
      display: none;
    }

    .add-icon-white {
      display: block;
    }
  }
}
