@import "/src/styles/global.scss";

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  @include tablet {
    width: 9rem;
    height: 2rem;
  }

  @include mobile {
    width: 100%;
    z-index: 1;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 6.3125rem;
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  @include mobile {
    padding: 0.8rem 1.6rem;
    border-radius: 1.8rem;
    border: 1px solid var(--Linkbrary-white, #fff);
    background: var(--Linkbrary-primary-color, #6d6afe);
  }
}

.button-text {
  @include font(1.4rem, $color-primary, 500);

  @include mobile {
    @include font(1.4rem, $color-white, 500);
  }
}

.toolBar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.button {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid $color-primary;
  background: $color-white;
  @include font(1.4rem, $color-black, 400);

  &:hover {
    cursor: pointer;
  }
}

.button-click {
  @extend .button;
  color: $color-white;
  border-color: $color-primary;
  background: $color-primary;
}
