.CardListItem {
  position: relative;
  width: 340px;
  height: 334px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  gap: 20px 25px;
  overflow: visible;
}

.CardListItem:hover {
  background: var(--Linkbrary-bg, #f0f6ff);
}

.CardListItem__imageWrap {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.CardListItem__previewImg {
  width: 340px;
  height: 200px;
  flex-shrink: 0;
}

.CardListItem:hover .CardListItem__previewImg {
  transform: scale(1.3);
  transition: 0.5s;
}

.CardListItem__bookmarkIcon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.CardListItem__content {
  position: relative;
  display: flex;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.CardListItem__postTime {
  color: #666;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.CardListItem__description {
  align-self: stretch;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.CardListItem__postDate {
  color: #333;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1199px) {
  .CardLinkList {
    grid-template-columns: repeat(2, 340px);
  }
}

@media (max-width: 767px) {
  .CardLinkList {
    grid-template-columns: repeat(1, 325px);
  }
  .CardListItem {
    height: 327px;
  }
}
