.folderLinkList__folderEditBtns {
  display: flex;
  gap: 12px;
}

.folderLinkList__folderEditBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  background: none;
  border: none;
  color: var(--Linkbrary-gray60, #9fa6b2);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.folderLinkList__folderEditIcon {
  position: relative;
  width: 18px;
  height: 18px;
}

.folderLinkList__folderName {
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  width: 50%;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
  margin: 24px 0;
}
