.nav {
  background-color: var(--Linkbrary-bg, #f0f6ff);
  padding: 20px 200px;
}

.nav ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.nav ul li {
  list-style: none;
}

.nav__logo {
  position: relative;
  width: 133px;
  height: 24px;
}

.nav__signinBtn {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  border-style: none;
  color: var(--Grey-Light, #f5f5f5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

/* 태블릿 사이즈 */
@media (max-width: 1199px) {
  .nav {
    padding: 20px 32px;
  }

  .nav ul {
    margin: auto;
    max-width: 800px;
  }
}
