.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.card_txt_div_body {
  margin: 0.8rem 0;
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left_time_p {
  font-size: 1.4rem;
  color: var(--text-content-gray);
}

.card_txt_div_body {
  font-size: 1.6rem;
}

.card_txt_date {
  font-size: 1.4rem;
  color: var(--text-content-black);
  margin-bottom: 1rem;
}

.card_txt_div {
  padding: 1.5rem 2rem;
}

.noLinkText {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 3;
}
.card_img_div {
  width: 34rem;
  height: 20rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card img {
  width: 34rem;
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media (max-width: 767px) {
    width: 32.5rem;
  }
}

.card_grid_container {
  display: grid;
  grid-template-columns: repeat(3, 34rem);
  grid-template-rows: 33.4rem;
  column-gap: 2rem;
  row-gap: 2.5rem;
  margin: 0 auto;

  @media (max-width: 1123px) {
    grid-template-columns: repeat(2, 34rem);
  }

  @media (max-width: 767px) {
    grid-template-columns: 32.5rem;
  }
}
