@use "../abstracts" as a;
@use "typography" as t;
@use "../layouts";
body {
  width: 100%;
  height: 100%;
  @include a.flex(column, flex-start, center);
  background-color: a.$d1-gray-color;
}

div {
  display: flex;
}

em {
  font-style: normal;
}

img {
  display: block;
}

main {
  width: 100%;
  height: 100%; //원래 min-height:100vh가 있었는데 일단 지움
  @include a.flex(column, flex-start, center);
  flex: 1;
}

section {
  max-width: 1920px;
  width: 100%;
  @include a.flex(column, flex-start, center);
}
