.link-card {
  width: 340px;
  height: 334px;
  border-radius: 15px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .thumbnail-container {
    width: 340px;
    height: 215px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
    .thumbnail {
      width: 100%;
      height: auto;
      object-fit: cover;
      flex-shrink: 0;
      transition: transform 0.3s ease;
    }
  }
  .link-card-info {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    gap: 10px;

    .link-card-title-bar {
      display: flex;
      justify-content: space-between;
      font-size: 13px;

      .link-card-title {
        display: inline-block;
        max-width: 50%;
        height: 16px;
        overflow: hidden;
      }
    }

    .link-card-description {
      display: -webkit-box;
      overflow: hidden;
      color: #000;
      margin-top: -0.3125em;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 1em;
      line-height: 1.25em;
    }
    &:hover {
      .link-card-title {
        text-decoration: underline;
      }

      .link-card-description {
        text-decoration: underline;
      }
    }
  }

  .link-card-date-created {
    font-size: 14px;
    color: #333;
  }

  &:hover {
    .thumbnail {
      transform: scale(1.3);
    }
  }
}
