.h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 600;
}

.h3 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

.p {
  line-height: 1.5;
}

.conHeaderWrap {
  text-align: center;
  background: #f0f6ff;
  padding: 7.0625rem 0 3.75rem;
  margin: 0 0 2.5rem;
}

.conHeaderWrap h2 {
  margin: 1.25rem 0 0;
}

.conHeader h3 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0.75rem 0 0;
}

.conHeader img {
  width: 4rem;
}

@media (max-width: 1199px) {
  /* 타블렛 */
}

@media (max-width: 767px) {
  /* 모바일 */
  .h2 {
    font-size: 2rem;
    line-height: 1.3125;
    padding: 0 4rem;
  }

  .conHeaderWrap h2 {
    margin: 0.625rem 0 0;
  }

  .conHeader h3 {
    margin: 0;
  }

  .h3 {
    font-size: 1.5rem;
    line-height: 1.16666666667;
  }

  .p {
    font-size: 0.9375rem;
  }
}
