nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  background-color: var(--bg-color);
  z-index: 10;
}

.logo {
  background-image: url(../assets/logo.svg);
  flex: 0 0 133px;
  height: 24px;
  background-size: cover;
  border: none;
  cursor: pointer;
}
