@import './reset.css';
@import './font.css';
@import './common.css';

/* 상단 gnb */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: var(--z-top);
    background-color: var(--Linkbrary-bg);
    padding: 3.2rem 20rem;
}

.wrap-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.wrap-user-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user-profile {
    width: 2.8rem;
    height: 2.8rem;
    flex-shrink: 0;
    border-radius: 50%;
}

/* 본문 */
.wrap-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-folder {
    display: flex;
width: 100%;
padding: 2rem 62.4rem 6rem 62.4rem;
flex-direction: column;
align-items: flex-start;
gap: 8px;
    background-color: var(--Linkbrary-bg);
}
.user-folder-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.user-folder-info h1 {
    font-size: 6rem;
    font-weight: 600;
    margin-top: 2rem;
}

.folder-profile {
    width: 60px;
    height: 60px;
    margin-bottom: 1.2rem;
}

