@import './reset.css';
@import './font.css';
@import './common.css';

/* 상단 gnb */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: var(--z-top);
    background-color: var(--Linkbrary-bg);
    padding: 3.2rem 20rem;
}

.wrap-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.wrap-user-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user-profile {
    width: 2.8rem;
    height: 2.8rem;
    flex-shrink: 0;
    border-radius: 50%;
}

/* 본문 */
.wrap-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-folder {
    display: flex;
    width: 100%;
    margin-bottom: 4rem;
    padding: 2rem 62.4rem 6rem 62.4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    background-color: var(--Linkbrary-bg);
}
.user-folder-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.user-folder-info h1 {
    font-size: 6rem;
    font-weight: 600;
    margin-top: 2rem;
}

.folder-profile {
    width: 60px;
    height: 60px;
    margin-bottom: 1.2rem;
}

.search-bar {
    display: flex;
    gap: 1rem;
    width: 106rem;
    margin-bottom: 4rem;
    padding: 1.5rem 1.6rem;
    background-color: var(--Grey-Light);
}

.input-search {
    width: 100%;
    border: none;
    background: none;
    border-radius: 1rem;
}

.user-card {
    width: 106rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    column-gap: 2rem;;
}

.card {
    width: 34rem;
    height: 33.4rem;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}
.card-image {
    width: 34rem;
    height: 20rem;
    border-radius: 1.5rem 1.5rem 0 0;
}

.card-txt {
    padding: 2rem;
    color: #000;
}

.card-txt .description{
    margin: 1rem 0;
    display: -webkit-box;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* height: 4.9rem; */
}

.cal-created {
    font-size: 1.3rem;
    color: #666;
}

.created {
    font-size: 1.4rem;
    color: #333;
}
