@import './reset.css';
@import './font.css';
@import './common.css';

/* 상단 gnb */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: var(--z-top);
    background-color: var(--Linkbrary-bg);
    padding: 2rem 20rem;
}

.wrap-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}