@import "/src/styles/global.scss";

.container {
  margin: 4rem auto;
  width: 105rem;
}

.cards_block {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 34rem));
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.card_image_block {
  width: 100%;
  height: 20rem;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;
}

.card_image {
  width: 100%;
  height: 100%;

  // 크기가 안 맞는 이미지를 위해 cover 추가
  object-fit: cover;
  transition: all 0.2s linear;
  padding: 0;
  margin: 0;

  &:hover {
    transform: scale(1.4);
  }
}

.cardText {
  width: 100%;
  height: 12rem;
  padding: 1.25rem;
  background-color: white;

  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.center_text {
  height: 6rem;
  overflow: hidden;
}

.star_icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.kebab_icon {
  position: absolute;
  bottom: 9rem;
  right: 1rem;
}
