@import "../../styles/global.scss";

.container {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.4rem 2.5rem 0 rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  max-width: 36rem;
  background-color: $color-white;
  border-radius: 0.8rem;
}

.icon-box {
  display: flex;
  justify-content: flex-end;
  padding: 1.2rem;
}

.close-icon {
  display: flex;
  justify-content: flex-end;
  width: 2.4rem;
  height: 2.4rem;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding-bottom: 3.2rem;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.modal-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 28rem;
  background-color: $color-red;
  border-radius: 0.8rem;
  padding: 1.6rem 2rem;
}

.delete-btn {
  color: #f5f5f5;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
