.profile-image {
  border-radius: 50%;
  object-fit: cover;
}

.profile-image.size-28 {
  width: 28px;
  height: 28px;
}

.profile-image.size-60 {
  width: 60px;
  height: 60px;
}

@media (max-width: 767px) {
  .profile-image.size-60 {
    width: 40px;
    height: 40px;
  }
}
