.folderTitle-wrapper {
  display: flex;
  justify-content: space-between;
}

.title-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.title-button-wrapper p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
