@import "@/styles/global.css";

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f0f6ff; /* 값이 주어진 $color-light-blue에 대한 색상 코드 */
}

.container.sticky {
  position: sticky;
  top: 0;
  z-index: 100; /* 값이 주어진 $z-index-nav에 대한 숫자 값 */
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.3rem;
  padding: 0 3.2rem;
}

@media (min-width: 768px) {
  .items {
    height: 9.4rem;
    max-width: 86.3rem;
  }
}

@media (min-width: 1200px) {
  .items {
    max-width: 192rem;
    padding: 0 20rem;
  }
}

.logo {
  height: 1.6rem;
}

@media (min-width: 768px) {
  .logo {
    height: 2.4rem;
  }
}

.signin {
  display: inline-block;
  width: 8rem;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 768px) {
  .signin {
    width: 12.8rem;
    padding: 1.6rem 0;
    font-size: 1.8rem;
  }
}
