.folderTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemManager {
  display: flex;
  justify-content: center;
  gap: 12px;

}

.ToolBtn {
  border: 0;
  background-color: transparent;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  color: #9fa6b2;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}