.modalContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 280px;
}

.modalInput {
  width: 100%;
  padding: 18px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  &:focus {
    border: 1px solid#6d6afe;
  }
}

.modalHeader {
  color: #373740;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modalHeaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.modalSubHeader {
  color: #9fa6b2;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  width: 280px;
  word-wrap: break-word;
}

.modalButton {
  width: 100%;
  font-size: 16px;
  padding: 16px 20px;
}

.deleteButton {
  display: flex;
  width: 280px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #ff5b56;
  color: #f5f5f5;
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.shareButtonBar {
  display: flex;
  gap: 32px;
}

.shareButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.shareButton {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  &:hover {
    box-shadow: 0 0 10px #6ae3fe;
  }
}

.folderList {
  width: 280px;
  max-height: 172px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.folderNameContainer {
  width: 100%;
  padding: 8px;
  display: flex;
  gap: 8px;
  &:hover {
    background-color: #f0f6ff;
    cursor: pointer;
    color: #6d6afe;
  }
  &:focus {
    background: #f0f6ff url('../../assets/images/check.svg') no-repeat top 8px
      right 8px;
    color: #6d6afe;
  }
}

.folderName {
  font-family: Pretendard;
  font-weight: 400;
}

.linkCount {
  color: #9fa6b2;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
