.label {
  font-size: 14px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 60px;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid #6d6afe;
  margin-top: 32px;
}

.error_wrapper {
  border: 1px solid red;
}

.input_form {
  border: none;
}

.input_form:focus {
  outline: none;
}

.input_error {
  margin-top: 12px;
  font-size: 14px;
  color: red;
}
