:root {
    --primary-color: #6d6afe;
    --red-color: #ff5b56;
    --black-color: #111322;
    --white-color: #ffffff;
    --gray-color-darkest: #3e4e43;
    --gray-color-darker: #9fa6b2;
    --gray-color: #ccd5e3;
    --gray-color-lighter: #e7effb;
    --gray-color-lightest: #f0f6ff;
    --Grey-Light: #f5f5f5;
}
