.footer {
  background-color: #000000;
  padding: 32px 104px 64px 104px;
  height: 160px;
  margin-top: 60px;

  @media (max-width: 767px) {
    padding: 32px 32px 64px 32px;
  }
}

.footer p {
  color: #676767;
  font-size: 16px;
  font-family: Acme;
  font-weight: 400;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.middle {
  display: flex;
  gap: 30px;
}

.middle a {
  color: #cfcfcf;
  font-size: 16px;
  font-family: Acme;
  font-weight: 400;
}

.social-wrapper {
  display: flex;
  gap: 12px;
}
