.add-link-bar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 16px 20px;
  margin: 60px auto 90px;
  border-radius: 15px;
  border: 1px solid #6d6afe;
  background: #fff;
  width: 800px;

  .input-box {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-grow: 1;
    height: inherit;

    .link-icon {
      width: 20px;
      height: 20px;
    }

    .link-input {
      border: none;
      font-size: 20px;
      flex-grow: 1;
    }
  }

  @media (max-width: 1124px) {
    margin: 60px 32px 90px;
    width: 664px;
  }
  @media (max-width: 767px) {
    margin: 24px 32px 40px;
    padding: 8px 10px;
    width: 305px;

    .input-box {
      gap: 8px;

      .link-input {
        font-size: 14px;
      }
    }

    .link-icon {
      width: 16px;
      height: 16px;
    }
  }
}
