.Card {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 20px;
  color: black;
}

.description > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-image {
  height: 200px;
}
.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
