footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 6.5rem 6.75rem;
    margin: 10.625rem 0 0;
    box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.02);
    background: var(--blackColor);
    color: var(--whiteColor);
}

footer .copy {
    color: #676767;
}

footer .menu {
    gap: 1.875rem;
}

footer .sns-menu {
    gap: 0.75rem;
}

@media (max-width: 767px) {
    footer {
        position: relative;
        padding: 2rem 2rem 6.75rem;
    }

    footer .copy {
        position: absolute;
        left: 2rem;
        bottom: 2rem;
    }
}
