.conArticle {
  margin: 1.875rem 0 0;
}

.loginDiv {
  width: 100%;
}

.loginLogo {
  font-size: 1rem;
}

.loginHeader {
  text-align: center;
}

.loginHeader p {
  margin: 1rem 0 0;
  line-height: 1.193125;
  font-size: 16px;
}

.loginLogo > a {
  display: inline-block;
}

.loginHeader p a {
  position: relative;
  top: -3px;
  margin: 0 0 0 0.25rem;
  color: var(--primaryColor);
}

.loginBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14.875rem 0;
  background: rgba(240, 246, 255, 1);
}

.loginCon {
  width: 25rem;
}

.loginForm .loginButton {
  margin: 1.875rem 0 0;
}

.loginCaution {
  font-size: 14px;
  font-weight: 400;
  color: var(--redColor);
  margin: 6px 0 0;
}

@media (max-width: 1199px) {
  /* 타블렛 */
  .loginBody {
    padding: 14.855rem 2rem;
  }
}

@media (max-width: 767px) {
  /* 모바일 */
  .loginCon {
    width: 100%;
  }

  .loginBody {
    padding: 7.5rem 2rem;
  }

  .loginForm .loginButton {
    font-size: 1.125rem;
    padding: 1rem 0;
  }

  .loginLogo {
    padding: 0;
  }
}
