.wrap-img {
  position: relative;
}

.little-star {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 151px;
  left: 291px;
}

.card-img {
  width: 340px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  background: #d9d9d9;
}

@media (max-width: 767px) {
  .card-img {
    width: 325px;
    height: 192px;
    flex-shrink: 0;
  }
}
