.card-content {
  display: flex;
  width: 340px;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 0px 0px 15px 15px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.wrap-card-content-time-kebab {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.card-content-time {
  color: #666;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.kebab-img {
  width: 21px;
  height: 17px;
  flex-shrink: 0;
}

.card-content-description {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.card-content-createdAt {
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
