.wrap-cards {
  display: flex;
  justify-content: center;
  margin: 40px 0 100px 0;
}

.cards {
  display: grid;
  width: fit-content;
  row-gap: 25px;
  column-gap: 20px;
  grid-template-columns: 340px 340px 340px;
}

@media (max-width: 1199px) {
  .cards {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 1123px) {
  .cards {
    grid-template-columns: 340px 340px;
  }
}

@media (max-width: 767px) {
  .cards {
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 325px;
  }
}
