.wrap-search-bar {
  margin-top: 40px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-bar-img {
  width: 16px;
  height: 16px;
  fill: rgba(0, 0, 0, 0);
  text-align: center;
  position: absolute;
  left: 63px;
}

.search-bar {
  display: flex;
  padding: 15px 16px;
  align-items: flex-start;
  border-radius: 10px;
  background: #f5f5f5;
  width: 1060px;
  height: 54px;
  /* order: 1; */
  justify-content: center;
  align-items: center;
  border: none;
  padding: 19px 36px;
}
