.index_container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_container {
    display: flex;
    gap: 10px;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
    background-color: var(--gray4);
}

.button:focus {
    border: 1px solid var(--primary);
    background-color: var(--gray5);
}
