footer {
  background-color: #111322;
  height: 16rem;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 10.4rem 10.8rem;
}

.footer_center_div {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.footer_codeit,
.footer_center_div {
  color: var(--text-gray);
  font-size: 1.6rem;
}

.footer_icon_div {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}
