@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.main-footer {
  font-family: Abel, sans-serif;
  background-color: #111322;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  padding: 32px 104px 64px;
  .footer-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    .copyright {
      color: #676767;
      font-family: Abel;
      font-size: 1em;
      line-height: normal;
    }

    .policy-bar {
      display: flex;
      gap: 30px;
      color: #cfcfcf;
      font-family: Abel;
      font-size: 1em;
    }

    .info-link-bar ul {
      display: flex;
      gap: 12px;
    }

    .footer-link {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }
  @media (max-width: 767px) {
    padding: 32px;

    .footer-bar {
      display: grid;
      grid-template-columns: 181px 116px;
      column-gap: auto;
      row-gap: 60px;
    }
    .copyright {
      order: 1;
    }
  }
}
