@import "../../global.css";
@import "../../reset.css";

/* f o o t e r */
footer {
  width: 100%;
  height: 160px;
  background-color: var(--black);
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  padding: 32px 104px;
  line-height: 1.6rem;
}

.footer_codeit {
  color: #676767;
  font-size: 16px;
}

.footer_center_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 163px;
  height: 18px;
}

.footer_txt {
  color: #cfcfcf;
  font-size: 16px;
  text-decoration: none;
}

.footer_icon_div {
  display: flex;
  justify-content: space-between;
  width: 116px;
  height: 18px;
}

.footer_icon_div a {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  footer {
    padding-left: 104px;
    padding-right: 104px;
  }
}

/* mobile */
@media (min-width: 375px) and (max-width: 767px) {
  footer {
    padding-left: 32px;
    padding-right: 32px;
    grid-template-columns: auto auto;
    grid-template-areas:
      "footer_center footer_icon"
      "footer_codeit .";
    gap: 60px;
  }

  .footer_center_div {
    grid-area: footer_center;
  }

  .footer_codeit {
    grid-area: footer_codeit;
  }

  .footer_icon_div {
    grid-area: footer_icon;
  }
}
