.signInPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 238px 0 253px;
  background-color: var(--light-blue);
  height: 100vh;

  @media (max-width: 1200px) {
    padding: 200px 0 291px;
  }

  @media (max-width: 768px) {
    padding: 120px 0 233px;
  }
}
.flexContainer {
  width: 400px;
  height: 491px;

  @media (max-width: 768px) {
    width: 325px;
  }
}

.signLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signLink > p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

.signUpLink {
  color: var(--primary);
  line-height: 19px;
  border-bottom: 0.1rem solid var(--primary);
  margin-left: 8px;
}

.idInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 125px;
}

.pwdInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 125px;
}

.idInputLabel,
.pwdInputLabel {
  font-size: 14px;
}

.signInBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
  cursor: pointer;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 32px;
}

.snsLink {
  border-radius: 8px;
  border: 1px solid var(--gray20);
  background-color: var(--gray10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  height: 66px;
}

.snsLink > p {
  font-size: 14px;
  line-height: 17px;
}
