@import "../globals.css";

.linkbrary-header{
  position: fixed;
  width: 100%;
  background-color: var(--Linkbrary-bg, #F0F6FF);
  z-index: 1;
}

.linkbrary-nav{
  padding: 1.25rem 12.5rem;
}

.linkbrary-nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.linkbrary-nav ul li{
  list-style: none;
}

.linkbrary-nav__logo{
  width: 12.0625rem;
  height: 1.5rem;
}

.linkbrary-nav__signin-btn{
  display: flex;
  width: 8rem;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: .625rem;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  border-style: none;
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

main{
  padding-top: 5.8125rem;
}

.main-header{
  position: relative;
  background-color: #F0F6FF;
  z-index: 0;
}

.main-header__card{
  display: flex;
  width: 100%;
  padding: 4.375rem 22.5rem 0rem 22.5rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
  z-index: 0;
}

.main-header__title{
  text-align: center;
  font-family: Pretendard;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem; /* 125% */
  width: 44.25rem;
  height: 10rem;
}

.main-header__line-break{
  display: inline-block;
}

.main-header__title-gradation{
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-header__signup-btn{
  display: flex;
  width: 21.875rem;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: .625rem;border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  color: var(--Grey-Light, #F5F5F5);
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.main-header__preview-img{
  position: relative;
  width: 69.875rem;
  flex-shrink: 0;
}

section{
  position: relative;
}

.section__wrap{
  display: flex;
  padding: 3.125rem 28.8125rem 3.125rem 28.8125rem;
  justify-content: center;
  align-items: center;
}

.section__wrap:nth-child(even) .section__card{
  flex-direction: row-reverse;
}

.section__card{
  display: flex;
  align-items: center;
  gap: 9.8125rem;
}

.section__frame{
  display: flex;
  width: 18.1875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: .625rem;
}

.section__title{
  font-family: Pretendard;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section__description{
  color: #6B6B6B;
  font-family: Abel;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
}

.section__gradation-orange-to-blue{
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__img{
  width: 34.375rem;
  height: 28.125rem;
  flex-shrink: 0;
  border-radius: 1.5625rem;
}

.section__gradation-yellow-to-blue{
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0187rem;
}

.section__gradation-blue{
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section__gradation-sky{
  background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* 태블릿 사이즈 */
@media (max-width : 74.9375rem) {
  .linkbrary-nav{
    margin: auto;
    max-width: 50rem;
    padding: 1.25rem 2rem;
  }

  .main-header__card{
    display: flex;
    padding: 2.5rem 15.625rem 0rem 15.6875rem;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .main-header__title{
    width: 29.5rem;
    height: 15rem;
  }

  .main-header__line-break{
    display: block;
  }

  .main-header__preview-img{
    width: 40.6439rem;
    flex-shrink: 0;
  }

  .section{
    padding-top: 1.25rem;
  }

  .section__wrap{
    display: flex;
    padding: 3.125rem 15.625rem 3.125rem 15.6875rem;
    justify-content: center;
    align-items: center;
  }

  .section__card{
    gap: 3.1875rem;
  }

  .section__img{
    width: 24.0625rem;
    height: 19.6875rem;
    flex-shrink: 0;
    border-radius: 1.5625rem;
  }
}

/* 모바일 사이즈 */

@media (max-width : 47.9375rem) {  

  .main-header__card{
    padding: 1.75rem 2rem 0rem 2.0625rem;
  }

  .main-header__title,
  .main-header__signup-btn,
  .main-header__preview-img{
    width: 100%;
    height: 100%;
  }

  .section{
    padding-top: 0;
  }

  .section__wrap{
    padding: 2.5rem 2rem 2.2557rem 2.0625rem;
  }

  .section__wrap .section__card{
    flex-direction: column;
    gap: 0;
  }

  .section__wrap:nth-child(even) .section__card{
    flex-direction: column;
    gap: 0;
  }

  .section__img{
    padding-top: 1.5rem;
  }

  .section__frame,
  .section__img{
    width: 100%;
    height: 100%;
  }

  .main-header__title{
    font-size: 2rem;
    line-height: 2.625rem; /* 131.25% */
  }

  .section__title{
    font-size: 1.5rem;
  }

  .section__description{
    font-size: .9375rem;
  }

}