.NavContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  background-color: #f0f6ff;
  z-index: 1;
}

.Gnb {
  max-width: 1920px;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 94px;
  margin: 0;
}

@media (max-width: 1199px) {
  .Gnb {
    max-width: 800px;
    padding: 0 32px;
  }
}

@media (max-width: 769px) {
  .Gnb {
    min-width: 400px;
    padding: 0 32px;
  }
}

.GnbLogo {
  width: 133px;
  height: 24px;
  color: #6d6afe;
  font-weight: 800;
  text-decoration-line: none;
}

.ProfileInfo {
  display: flex;
  column-gap: 6px;
}

.GnbButton {
  width: 128px;
  height: 53px;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 600;
}
