@media (max-width: 1199px) {
  header {
    padding: 20px 32px;
  }

  .top-heading {
    width: 472px;
  }

  .container {
    width: 698px;
    height: 315px;
    gap: 51px;
  }

  .feature-description div {
    width: 262px;
  }

  .folder-change {
    display: none;
  }

  .folder-manage-image {
    background-image: url("/img/feature_bg1.png");
    background-size: cover;
  }

  .folder-share-image {
    background-image: url("/img/feature_bg2.png");
    background-size: cover;
  }

  .folder-search-image {
    background-image: url("/img/feature_bg3.png");
    background-size: cover;
  }

  .folder-input {
    width: 196px;
  }

  .no-shrink-card {
    width: 168px;
  }

  .search-box {
    display: none;
  }

  .share-bg {
    display: none;
  }

  /* .container {
      width: 100%;
      height: auto;
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }
  
    .feature-description {
      order: 1;
      align-items: center;
      justify-content: center;
    }
  
    .feature-description div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .feature-example-image {
      height: 450px;
      order: 2;
    } */
}
