@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@100..900&display=swap");
:root {
  --primary-color: #6d6afe;
  --skyblue-color: #6ae3fe;
  --red-color: #ff5b56;
  --black-color: #111322;
  --white-color: #fff;
  --d5-gray-color: #3e3e43;
  --d4-gray-color: #9fa6b2;
  --d3-gray-color: #ccd5e3;
  --d2-gray-color: #e7effb;
  --d1-gray-color: #f0f6ff;
  --grey-light-color: #f5f5f5;
  --grey-dark-color: #666;
}

body {
  font-family: Pretendard;
  background-color: var(--d1-gray-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  padding: 4px 8px;
  border-radius: 5px;
  background-color: var(--white-color);
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

button:hover,
button:focus {
  cursor: pointer;
  filter: brightness(1.2);
  scale: 1.02;
}

div {
  display: flex;
}

em {
  font-style: normal;
}

footer {
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

h3 {
  color: #000;
  font-size: 3em;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

header {
  width: 100%;
  max-width: 1920px;
  position: sticky;
  top: 0;
  display: flex;
  padding: 20px 200px;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  z-index: 2;
}

img {
  display: block;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  flex: 1;
}

section {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*====================================          CLASS           ==================================*/

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--skyblue-color)
  );
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  font-weight: 600;
  color: var(--grey-light-color);
  font-style: normal;
  line-height: normal;
  text-decoration-line: none;
  padding: 1em;
}

.copyright {
  color: #676767;
  text-align: center;
  font-family: Abel;
  font-size: 1em;
  line-height: normal;
}

.footer-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  padding: 32px 104px 64px;
}

.header-login {
  width: 128px;
}

.policy-bar {
  display: flex;
  gap: 30px;
  color: #cfcfcf;
  font-family: Abel;
  font-size: 1em;
}

.sign-logo {
  width: 210px;
  height: 38px;
}
