@import "/src/styles/global.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 20rem;
  background: var(--Linkbrary-bg, #f0f6ff);

  @include tablet {
    padding: 2rem 4rem;
  }

  @include mobile {
    padding: 2rem 6rem;
  }
}
