@import "./global.css";

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    background: var(--background);
    position: fixed;
    top: 0;
    width: 100%;
}

.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 20rem;
    width: 100%;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.8rem;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    border-radius: 0.8rem;
    color: #f5f5f5;
    height: 5.4rem;
    font-size: 1.8rem;
    font-weight: 600;
}

header {
    width: 100%;
    padding-top: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;

    background:var( --background);
    
}

.main-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
}

.maintitle {
    color: #000;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 8rem;
}

.maintitle-style {
    background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    border-radius: 0.8rem;
    color: #f5f5f5;
    height: 5.4rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.img1 {
    flex-shrink: 0;
    width: 120rem;
    height: 53rem;
}

section {
    display: grid;
    justify-content: center;
    column-gap: 15.7rem;
    width: 100%;
    height: 55rem;
    padding: 50px 0;
    row-gap: 1rem;
    align-items: center;
}

section:nth-of-type(odd){
    grid-template:
    ". image"
    "title image"
    "explation image"
    ". image";
}

section:nth-of-type(even){
    grid-template:
    "image ."
    "image title"
    "image explation"
    "image .";
}

.title {
    grid-area: title;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.8rem;
    letter-spacing: -0.03rem;
  }


.explation {
    grid-area: explation;
    font-size: 1.6rem;
    font-weight: 400;
    color: #6b6b6b;
    line-height: 150%;
  }

  .content-image {
    grid-area: image;
    width: 55rem;
    height: 45rem;
  }
  
.title-style2{
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-style {
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title-style3{
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title-style4{
    background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  footer {
    display: flex;
    justify-content: center;
    height: 16rem;
    width: 100%;
    background-color: var(--black);
    padding-top: 3.2rem;
    
  }

  .footer-box {
    display: flex;
    justify-content: space-between;
    max-width: 192rem;
    padding: 0 10.4rem;
    width: 100%;
    height: 2rem;
  }

  .copyright {
    color: #676767;
    font-size: 1.6rem;
    font-family: Arial;
  }

  .footer-links {
    display: flex;
    column-gap: 3rem;
  }

  .footer-link {
    color: #CFCFCF;
    font-size: 1.6rem;
  }

.sns {
    display: flex;
    column-gap: 1.2rem;
}

/* 반응형 페이지 만들기 */
/* 태블릿 사이즈 */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gnb {
    padding: 2rem 32px; /* Maintain minimum 32px margin on both sides */
}

}

/* 모바일 */
@media screen and (min-width: 375px) and (max-width: 767px) {
  section {
      display: grid;
      justify-content: center;
      column-gap: 16px;
      width: 100%;
      height: auto; 
      padding: 25px 0; 
      row-gap: 16px; 
      align-items: center;
  }

  section:nth-of-type(odd),
  section:nth-of-type(even) {
      grid-template:
      "title"
      "image"
      "explation";
  }

  .title, .explation, .content-image {
      width: calc(100% - 3.2rem);
      margin: 0 16px;
  }

  .maintitle {
      font-size: 3.2rem;
      line-height: 4rem;
      
  }

  .title {
    font-size: 2.4rem;
  }

  .title br{
    display: none;
  }

  .cta, .cta2 {
      width: calc(100% - 3.2rem);
  }


  .img1 {
      width: 100%;
      height: auto;
  }
}