@import "./global.css";
@import "./reset.css";

/* b u t t o n */
.folder_btn_lg {
  width: auto;
  height: 35px;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 0.8rem;
  cursor: pointer;
}

.folder_btn_lg:hover {
  background-color: var(--gray4);
}

.folder_btn_lg:active {
  background-color: var(--primary);
}

.folder_btn_sm {
  width: auto;
  height: 29px;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 0.8rem;
  cursor: pointer;
}

.folder_btn_sm:hover {
  background-color: var(--gray4);
}

.folder_btn_sm:active {
  background-color: var(--primary);
}

.add_folder_btn {
  border: none;
  border-radius: 20px;
  background-color: var(--primary);
  color: var(--white);
  padding: 8px 12px;
  font-size: 0.8rem;
  cursor: pointer;
}

.main_sub_nav {
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_sub_nav p {
  font-size: 24px;
  font-weight: 600;
}

.main_sub_nav_side {
  display: flex;
  gap: 12px;
  align-items: center;
}

.main_sub_nav_side_items {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #9fa6b2;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/* m o d a l*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.show_modal {
  display: block;
}

.modal_container {
  position: relative;
  background-color: var(--white);
  margin: 15% auto;
  padding: 35px 30px;
  border: 1px solid var(--gray2);
  border-radius: 15px;
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal_header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.modal_header_title {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--black);
}

.modal_header_subtitle {
  font-size: 0.8rem;
  color: var(--gray2);
}

.modal_content_div {
  width: 100%;
  height: auto;
  gap: 8px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_content {
  width: 100%;
  height: 40px;
  background-color: var(--white);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  gap: 8px;
  position: relative;
}

.modal_content:hover {
  background-color: var(--gray5);
}

.modal_folder_name {
  color: var(--black);
}

.modal_content:active .modal_folder_name {
  color: var(--primary);
}

.modal_input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  padding: 14px 20px;
  color: var(--gray1);
  border: 1px solid var(--gray1);
}

.modal_input:focus {
  border: 2px solid var(--primary);
}

.modal_input:hover {
  border: 2px solid var(--primary);
}

.modal_link_cnt {
  color: var(--gray2);
}

.checkmark {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  visibility: hidden;
}

.modal_content:active .checkmark {
  visibility: visible;
}

.modal_btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  padding: 14px 20px;
  border: none;
  background: linear-gradient(to right, #6d6afe, #6ae3fe);
  color: var(--white);
  font-size: 1em;
  cursor: pointer;
}

.modal_btn:hover:active {
  border: 1px var(--primary) solid;
  background: linear-gradient(to right, #6ae3fe, #6d6afe);
}

.modal_delete_btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  padding: 14px 20px;
  border: none;
  background: var(--red);
  color: var(--white);
  font-size: 1em;
  cursor: pointer;
}

.modal_delete_btn:hover:active {
  border: 1px var(--red) solid;
}

.share_modal_utils {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 10px;
}

.share_modal_utils_icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: var(--gray2);
  cursor: pointer;
}

.share_modal_utils_icon_back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background-color: hsla(0, 0%, 62%, 0.04);
}

.dot_menu {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.show_dot_menu {
  display: block;
}

.dot_menu_item {
  padding: 10px 20px;
  font-size: 0.9rem;
  color: var(--gray1);
  cursor: pointer;
}

.dot_menu_item:hover {
  color: var(--primary);
  background-color: var(--gray4);
}
