@import './global.css';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  top: 0;
  position: sticky;
  width: 100%;
  background-color: #edf7ff;
}

.top-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9.4rem;
  max-width: 192rem;
  padding: 0 8rem;
}

.top-login {
  background: linear-gradient(90deg, var(--primary) 0.12%, #6ae3fe 101.84%);
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 5rem;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf7ff;
}

.landing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  padding-top: 7rem;
}

.header-title {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
}

.header-gradient {
  background: linear-gradient(91.26deg, var(--primary) 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  color: transparent;
}

.signup-link {
  background: linear-gradient(90deg, var(--primary) 0.12%, #6ae3fe 101.84%);
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 5rem;
}

.header-img {
  width: 120rem;
  height: 60rem;
}

article {
  padding-top: 7rem;
  padding-bottom: 12rem;
}

section {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 55rem;
  padding: 50px 0;
  column-gap: 15.7rem;
  row-gap: 1rem;
}

section:nth-of-type(odd) {
  grid-template:
    '. img'
    'title img'
    'description img'
    '. img'
    /30rem 55rem;
}

section:nth-of-type(even) {
  grid-template:
    'img .'
    'img title'
    'img description'
    'img .'
    /55rem 30rem;
}

.title {
  grid-area: title;
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 5.8rem;
  letter-spacing: -0.03rem;
}

.sec-img {
  grid-area: img;
  width: 55rem;
  height: 45rem;
}

.description {
  grid-area: description;
  font-size: 1.4rem;
  font-weight: 500;
  color: #6b6b6b;
  line-height: 150%;
}

.title1-gradient {
  background: linear-gradient(95.63deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  color: transparent;
}

.title2-gradient {
  background: linear-gradient(95.63deg, #6fbaff 1.72%, #ffd88b 74.97%);
  background-clip: text;
  color: transparent;
}

.title3-gradient {
  background: linear-gradient(95.63deg, #6d7ccd 1.72%, #528885 74.97%);
  background-clip: text;
  color: transparent;
}

.title4-gradient {
  background: linear-gradient(95.63deg, #fe578f 1.72%, #68e8f9 74.97%);
  background-clip: text;
  color: transparent;
}

footer {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15rem;
  padding-top: 3rem;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 192rem;
  height: fit-content;
  padding: 3rem 10rem 0;
}

.footer-codeit {
  font-size: 1.8rem;
  color: #676767;
}

.footer-links {
  display: flex;
  column-gap: 3rem;
  padding-right: 1.8rem;
}

.footer-link {
  font-size: 1.6rem;
  color: #cfcfcf;
}

.footer-sns {
  display: flex;
  column-gap: 1.3rem;
  height: 2rem;
}

/*Tablet size*/
@media (min-width: 768px) and (max-width: 1199px) {
  .top-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
  }

  .landing-header {
    row-gap: 4rem;
  }

  .header-title {
    width: 70rem;
    font-size: 5rem;
    line-height: 6rem;
  }

  .header-img {
    width: 70rem;
    height: 35rem;
  }

  section {
    column-gap: 4rem;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 45rem;
  }

  section:nth-of-type(odd) {
    grid-template-columns: 30rem 38rem;
  }

  section:nth-of-type(even) {
    grid-template-columns: 38rem 30rem;
  }

  .sec-img {
    width: 40rem;
    height: 30rem;
  }
}

/*Mobile size*/
@media (min-width: 375px) and (max-width: 767px) {
  .top-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    height: 8rem;
    padding: 0 5rem;
  }

  .top-login {
    width: 10rem;
  }

  .signup-link {
    width: 20rem;
  }

  .landing-header {
    row-gap: 2rem;
  }

  .header-title {
    font-size: 3.5rem;
    line-height: 4.5rem;
    letter-spacing: -0.4rem;
    padding: 0 1rem;
  }

  .header-img {
    width: 100%;
    height: auto;
  }

  section {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
    height: auto;
  }

  section:nth-of-type(odd),
  section:nth-of-type(even) {
    grid-template-areas:
      'title'
      'img'
      'description';
  }

  .title {
    display: inline;
    margin-bottom: 1rem;
    font-size: 3.2rem;
    white-space: nowrap;
  }

  .description {
    display: inline;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: -0.05rem;
  }

  .sec-img {
    width: 100%;
    height: auto;
  }

  section > h6 {
    order: 1;
  }

  .br_tag {
    display: inline;
    content: ' ';
    padding: 0 0.1rem;
  }

  .footer-box {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 3rem;
  }

  .footer-links {
    margin-bottom: 2rem;
  }

  .footer-sns {
    justify-content: right;
  }

  .footer-box > .footer-codeit {
    order: 1;
  }
}
