.folder-info-block {
    background-color: #F0F6FF;
    padding-top: 20px;
    padding-bottom: 60px;
}

.folder-info {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 190px;
}

.icon-wrapper{
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 47px;
    background: var(--primary-purple-70, #8F00FF);

    @media (max-width: 767px) {
        width: 40px;
        height: 40px;
    }
}

.icon-wrapper img {
    position: absolute;
    padding: 16px;
    @media (max-width: 767px) {
        width: 18.7px;
        padding: 11px;
    }
}

.folder-info-block .user-name{
    color: black;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    @media (max-width: 767px) {
        font-size: 14px;
    }
}

.folder-info-block .folder-name {
    color: black;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 600;
    @media (max-width: 767px) {
        font-size: 32px;
    }
}