body {
    background: rgba(240, 246, 255, 1);
}

.con-article {
    margin: 1.875rem 0 0;
}

.login-header {
    text-align: center;
}

.login-header p {
    margin: 1rem 0 0;
    line-height: 1.193125;
}

.login-header p a {
    position: relative;
    top: -3px;
    margin: 0 0 0 0.25rem;
    color: var(--primaryColor);
}

.login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14.875rem 0;
}

.login-con {
    width: 25rem;
}

.login-form .login-button {
    margin: 1.875rem 0 0;
}

@media (max-width: 1199px) { /* 타블렛 */
    .login-body {
        margin: 14.875rem 0;
        padding: 0 2rem;
    }
}

@media (max-width: 767px) { /* 모바일 */
    .login-con {
        width: 100%;
    }

    .login-body {
        margin: 7.5rem 0;
    }
    
    .login-form .login-button  {
        font-size: 1.125rem;
        padding: 1rem 0;
    }
}