.authPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 238px 0;
}

.authPageContainer {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
