@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
  --background-color: #f0f6ff;
  --Linkbrary-primary-color: #6d6afe;
}

body {
  background-color: var(--background-color);
  font-family: Pretendard, sans-serif;
}
