.mainList {
  background: var(--Linkbrary-bg);
  padding: 23.8rem 0rem 25.3rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100vw;
  height: 100vh;
}
