@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@100..900&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 70px 360px 0;
  min-height: 100vh;
  font-family: Pretendard, sans-serif;
}

.mainSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.mainHeading {
  color: #000;
  font-size: 4em;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  width: 708px;
  text-align: center;
}

.addLinkButton {
  width: 350px;
  padding: 16px 20px;
}

.mainImageWrapper {
  position: relative;
  width: 1118px;
  height: 659px;
}

.featureSection {
  width: 100vw;
  background-color: #fff;
  padding: 120px 461px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.featureCard {
  display: flex;
  justify-content: space-between;
  gap: 157px;
  align-items: center;
  width: 998px;
}

.featureDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: #6b6b6b;
  margin-right: 0.625em;
  font-family: Abel;
  font-size: 1em;
  line-height: 150%;
  font-family: inherit;
}

.featureDescriptionHeading {
  color: #000;
  font-size: 3em;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.gradient1 {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient2 {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient3 {
  background: linear-gradient(277deg, #6fbaff 19.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient4 {
  background: linear-gradient(
    99deg,
    #6d7ccd 69.76%,
    rgba(82, 136, 133, 0.22) 99.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient5 {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
