@import "./global.css";

/**/
.flexbox {
  background-color: aquamarine;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15.7rem;
  padding: 5rem 0;
  width: 99.8rem;
  height: 45rem;
  flex-flow: column wrap;
  gap: 1rem 15.7rem;
}

.flexbox > h2 {
  margin: 0;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: normal;
}
.flexbox > p {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: #6b6b6b;
}
/**/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* nav 영역 */
nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #edf7ff;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9.3rem;
  max-width: 192rem;
  padding: 0 20rem;
}

/* header 영역 */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #edf7ff;
}

.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.3rem;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  background: linear-gradient(
    91deg,
    var(--Linkbrary-primary-color) 0.12%,
    #6ae3fe 101.84%
  );
  color: #f5f5f5;
}

.header-link.signin {
  width: 12.8rem;
}

.header-link.add {
  width: 35rem;
}

.header-img {
  width: 111.8rem;
  height: 65.9rem;
}

.header-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-top: 7rem;
}

.header-title {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
}

.header-title-gradient {
  background: linear-gradient(
    91deg,
    var(--Linkbrary-primary-color) 17.28%,
    #ff9f9f 74.98%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* main 안에 section 영역 */
main {
  padding-top: 7rem;
  padding-bottom: 12rem;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15.7rem;
  padding: 5rem 0;
}

.contents-img {
  width: 55rem;
  height: 45rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-weight: 700;
  line-height: normal;
}

.description h2 {
  margin: 0;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: normal;
}

.description p {
  display: flex;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: #6b6b6b;
}

.background-clip {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-01 {
  background-image: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
}

.gradient-02 {
  background-image: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
}

.gradient-03 {
  background-image: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
}

.gradient-04 {
  background-image: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
}

footer {
  width: 100%;
}

/* footer 영역 */
.footer-wrap {
  display: flex;
  width: 100%;
  height: 16rem;
  padding: 3.2rem 10.4rem 6.4rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--The-julge-black);
}

.copyright {
  color: #676767;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.footer-link-logo {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}

.footer-link > a {
  text-decoration: none;
  color: #cfcfcf;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1199px) {
  .gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9.4rem;
    max-width: 192rem;
    padding: 0 3.2rem;
  }

  .header-title {
    max-width: 47.2rem;
    width: max-content;
    font-size: 6.4rem;
    line-height: 8rem;
    word-break: keep-all;
  }

  .header-img {
    width: 69.8rem;
    height: 34.3rem;
  }

  .contents-img {
    width: 38.5rem;
    height: 31.5rem;
  }

  section {
    gap: 5.1rem;
  }

  .flexbox {
    width: 100%;
    gap: 1rem 5.1rem;
    width: 69.8rem;
    height: 31.5rem;
  }
}
/* mobile */
@media (max-width: 767px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    background-color: #68e8f9;
  }

  header {
    width: 100%;
  }

  .gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.3rem;
    padding: 0 3.2rem;
  }

  .header-contents {
    gap: 2.4rem;
  }

  .header-title {
    max-width: 23.6rem;
    width: max-content;
    font-size: 3.2rem;
    line-height: 4.2rem;
    word-break: keep-all;
  }

  .header-img {
    width: 30.3rem;
    height: 17.9rem;
  }

  .flexbox {
    width: 100%;
    height: 45.1rem;
    max-width: 76.7rem;
    padding: 0 3.2rem;
    background-color: #fe578f;
    flex-direction: column;
    flex-flow: wrap;
    gap: 0;
  }

  .flexbox > h2 {
    max-width: 32.5rem;
    font-size: 2.4rem;
    letter-spacing: -0.03rem;
    width: 32.5rem;
    order: 1;
  }

  .flexbox > p {
    max-width: 32.5rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 100%;
    order: 3;
  }

  .flexbox > img {
    width: max-content;
    order: 2;
    background-color: #68e8f9;
  }

  /* section:nth-child(odd) {
    background-color: #fe8a8a;
  }

  section:nth-child(even) {
    background-color: #fe578f;
    flex-direction: column-reverse;
  } */
}
