.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 400px;
  margin: 0 auto;
}

.page-container {
  width: 100%;
  height: 100vh;
  background-color: #f0f6ff;
  padding: 230px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 38px;
}

.title h2 {
  color: black;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 400;
  line-height: 24px;
}

.title a {
  color: #6d6afe;
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 600;
}

.singin-link {
  margin-left: 8px;
}

.hide {
  display: none;
}

.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 6px;
}

.error-border {
  border-color: red;
}

.social-login {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #e7effb;
  border-radius: 8px;
  border: 1px #ccd5e3 solid;
}

.social-icon {
  display: flex;
  gap: 16px;
}

.social-login p {
  color: #373740;
  font-size: 14px;
  font-family: Pretendard;
  font-weight: 400;
}

.social-login .kakao-icon {
  width: 42px;
  height: 42px;
  background-color: #fee500;
  border-radius: 37.33px;
  position: relative;
}

.social-login .google-icon {
  width: 42px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 37.33px;
  position: relative;
  border: 1px #d3d4dd solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.kakao-icon img {
  position: absolute;
  top: 10px;
  bottom: 8px;
  left: 8px;
  right: 8px;
}

.google-icon img {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.pwd-eye-off {
  position: absolute;
  top: 50px;
  right: 15px;
  padding: 0;
  height: 16px;
}

.pwd-input-wrapper {
  margin-top: 24px;
  position: relative;
}

.pwd-input-check-wrapper {
  margin-top: 24px;
  position: relative;
}

.pwd-input-check p {
  color: #ff5b56;
  font-size: 14px;
  font-family: Pretendard;
  font-weight: 400;
  margin-top: 6px;
}

.pwd-input-check input {
  border-color: red;
}
