@font-face {
  font-family: Pretendard;
  src: local("Pretendard"),
    url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
}