@import "/src/styles/global.scss";

.container {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translate(-50%, -50%);
  gap: 1.5rem;

  padding: 2.2rem 2.5rem;

  width: 25rem;
  height: 26rem;

  border-radius: 0.9375rem;
  border: 1px solid $color-gray-light;
  background: $color-white;

  h2 {
    @include font(1.5rem, $color-gray100, 700);
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include font(1.2rem, $color-gray60, 400);

  p {
    width: 20rem;
    margin-top: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
  }
}

.input-text {
  border: 1px solid $color-primary;
}

.folder-block {
  display: flex;
  margin-top: 1rem;
  width: 20rem;
  height: 12rem;
  flex-direction: column;
  align-items: baseline;
  overflow: scroll;
  overflow-x: hidden;

  button {
    width: 100%;
    text-align: left;
    padding: 0.8rem;

    &:hover {
      border-radius: 0.5rem;
      background: var(--Linkbrary-bg, #f0f6ff);
      color: var(--Linkbrary-primary-color, #6d6afe);

      /* Linkbrary/body1-regular */
      font-family: Pretendard;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem; /* 150% */
    }
  }
}

.button-click {
  border-radius: 0.5rem;
  background: var(--Linkbrary-bg, #f0f6ff);
  color: var(--Linkbrary-primary-color, #6d6afe);

  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.add-button {
  display: flex;
  width: 100%;
  margin-top: 1.4rem;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 0.5rem;
  background: $color-linear-gradient;

  @include font(1.2rem, $color-gray-light, 600);
}
