.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 192rem;
}

.folder-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  width: 100%;
  max-width: 106rem;
  flex-direction: column;
}

.toolbar-container {
  display: grid;
  width: 100%;
  grid-template-areas:
    "folders folders add-button"
    "folder-name buttons buttons";
  justify-content: space-between;
  gap: 2.4rem;
}

.toolbar-box {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  grid-area: folders;
}

.toolbar {
  display: flex;
  row-gap: 1.2rem;
}

.toolbar-btn {
  display: flex;
  align-items: center;
  border: 0.1rem solid #6d6afe;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  height: 3.7rem;
  padding: 0 1.2rem;

  &:hover {
    background-color: #e7effb;
  }

  &.active {
    background-color: pink;
  }
}

.folder-name {
  font-size: 2.4rem;
  font-weight: 600;
}

.no-link-msg {
  text-align: center;
  font-size: 1.6rem;
}

.add-btn-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
  height: 3.5rem;
  grid-area: add-button;
}

.add-btn {
  font-size: 1.6rem;
  font-weight: 500;
  color: #6d6afe;
}

.add-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.btns-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: buttons;
  gap: 1.2rem;
}

.btns-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.btns-text {
  color: #9fa6b2;
}
