@import "../../global.css";
@import "../../reset.css";

/* m a i n */
.main {
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.section {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 70px;
}

.search_div {
    width: 90%;
    height: 54px;
    background-color: #f5f5f5;
    color: var(--gray1);
    border-radius: 10px;
    padding: 15px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search_input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 100%;
    height: 50px;
}

input:focus {
    outline: none;
}

.main_btn_div {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.folder_name_list {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}

.folder_btn_lg {
    width: auto;
    height: 40px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 0 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 3px;
}

.folder_btn_lg:hover {
    background-color: var(--gray4);
}

.folder_btn_lg:active {
    background-color: var(--primary);
    color: var(--white);
}

.folder_btn_lg.active {
    background-color: var(--primary);
    color: var(--white);
}

.add_folder_btn {
    width: 79px;
    height: 19px;
    border: none;
    color: var(--primary);
    font-size: 15px;
    cursor: pointer;
}

.main_sub_nav {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_sub_nav p {
    font-size: 24px;
    font-weight: 600;
}

.main_sub_nav_side {
    display: flex;
    gap: 12px;
    align-items: center;
}

.main_sub_nav_side_items {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.dot_menu {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.show_dot_menu {
    display: block;
}

.dot_menu_item {
    padding: 10px 20px;
    font-size: 0.9rem;
    color: var(--gray1);
    cursor: pointer;
}

.dot_menu_item:hover {
    color: var(--primary);
    background-color: var(--gray4);
}

.icon_text {
    color: #9fa6b2;
    font-size: 14px;
    font-weight: 500;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1199px) {
    .section {
        width: 100%;
    }
}

/* mobile */
@media (min-width: 375px) and (max-width: 767px) {
    .section {
        width: 100%;
        padding: 30px 20px 70px;
    }

    .add_folder_btn {
        position: fixed;
        bottom: 101px;
        right: 20px;
        z-index: 999;
        width: 127px;
        height: 35px;
        border-radius: 20px;
        background-color: var(--primary);
        color: var(--white);
        border: 1px solid var(--white);
        font-size: 16px;
    }

    .active_button {
        width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .icon_text {
        display: none;
    }
}
